<div class="container-fluid">
    <div class="row">
        <div class="layout-center">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title"> Free Radius ERP System</h1>
                    <h2 class="card-subtitle mb-2 text-muted"> Admin Login </h2>
                    
                    <mat-form-field>
                        <mat-label> Email Address </mat-label>
                        <input type="email" matInput [(ngModel)]="email" placeholder="Ex. pat@example.com" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label> Password </mat-label>
                        <input type="password" matInput [(ngModel)]="password" placeholder="password" required>
                    </mat-form-field>

                    <button mat-raised-button color="primary" (click)="submit()"> Login </button>
                </div>
              </div>
        </div>
    </div>
</div>