<mat-progress-bar mode="indeterminate" color="primary" *ngIf="isLoading"></mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <table mat-table [dataSource]="statusList" matSort class="full-width">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="status_group_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Group ID </th>
                <td mat-cell *matCellDef="let element"> {{element.status_group_id}} </td>
            </ng-container>

            <ng-container matColumnDef="status_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status Name </th>
                <td mat-cell *matCellDef="let element"> {{element.status_name}} </td>
            </ng-container>

            <ng-container matColumnDef="remark">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Remark </th>
                <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
            </ng-container>

            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
            </ng-container>

            <ng-container matColumnDef="updated_at">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated At </th>
                <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-btn-wrapper">
                    <button mat-raised-button color="primary" (click)="openEditModel(element)"> Edit </button>
                    <button mat-raised-button class="{{element.status === false ? 'danger' : '' }}" [disabled]="element.status" (click)="openDelModel(element)"> Delete </button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[15, 30, 50, 100, 500, 1000]"></mat-paginator>
    </div>
</div>


