<div class="edit-model">
    <mat-form-field class="full-width">
        <mat-label> Department Name </mat-label>
        <input matInput type="text" [(ngModel)]="name" value="{{name}}">
    </mat-form-field>

    <div class="checkbox-wrapper">
        <mat-label> Status </mat-label>
        <div class="checkbox-control">
            <mat-checkbox class="ml" [(ngModel)]="status"> {{ status === true ? 'Active' : 'Disable' }} </mat-checkbox>
        </div>
    </div>

    <div class="btn-wrapper">
        <button mat-raised-button color="primary" (click)="update()" disabled="{{isLoading}}"> Edit </button>
    </div>
</div>

