<div class="edit-model">
    <mat-card-content class="mt">
        <mat-form-field class="full-width">
            <mat-label> Status Group Id </mat-label>
            <input matInput placeholder="Enter company name" [(ngModel)]="status_group_id" />
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label> Status Name </mat-label>
            <input matInput placeholder="Enter company name" [(ngModel)]="status_name" />
        </mat-form-field>


        <mat-form-field class="full-width">
            <mat-label> remark </mat-label>
            <input matInput placeholder="Enter company name" [(ngModel)]="remark" />
        </mat-form-field>

    <div class="btn-wrapper">
        <button mat-raised-button color="primary" (click)="update()" disabled="{{isLoading}}"> Edit </button>
    </div>

