<mat-progress-bar mode="indeterminate" color="primary" *ngIf="isLoading"></mat-progress-bar>

<div class="container-fluid">
    <div class="row">
        <table mat-table [dataSource]="permissionList" matSort class="full-width">
            <ng-container matColumnDef="permission_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Permission Name </th>
                <td mat-cell *matCellDef="let element"> {{element.permission_name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="read">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Read </th>
                <td mat-cell *matCellDef="let element">
                    <span class="{{ element.read === true ? 'success-text' : 'danger-text'}}"> 
                        {{element.read === true ? 'Allow' : 'Denied'}} 
                    </span>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="write">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Write </th>
                <td mat-cell *matCellDef="let element">
                    <span class="{{ element.write === true ? 'success-text' : 'danger-text'}}"> 
                        {{element.write === true ? 'Allow' : 'Denied'}} 
                    </span>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                <td mat-cell *matCellDef="let element">
                    <span class="{{ element.edit === true ? 'success-text' : 'danger-text'}}"> 
                        {{element.edit === true ? 'Allow' : 'Denied'}} 
                    </span>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <span class="{{ element.delete === true ? 'success-text' : 'danger-text'}}"> 
                        {{element.delete === true ? 'Allow' : 'Denied'}} 
                    </span>
                </td>
            </ng-container>
        
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element">
                    <mat-chip-list>
                        <mat-chip class="{{ element.status === true ? 'success' : 'danger'}}"> 
                            {{ element.status === true ? 'Active' : 'Disable'}}
                        </mat-chip>
                      </mat-chip-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-btn-wrapper">
                    <button mat-raised-button color="primary" (click)="openEditModel(element)"> Edit </button>
                    <button mat-raised-button class="{{element.status === false ? 'danger' : '' }}" [disabled]="element.status"> Delete </button>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[15, 30, 50, 100, 500, 1000]"></mat-paginator>
    </div>
</div>

