<router-outlet *ngIf="isLogged === false"></router-outlet>

<mat-drawer-container autosize *ngIf="isLogged">
    <mat-drawer #drawer mode="side">
        <div class="header-toolbar">
            <img src="../assets/images/logo.png" class="logo" alt="myanmarlink" title="myanmarlink" />
            <h3 class="header-title"> Myanmar Link </h3>
        </div>

        <div class="menu-list-wrapper">
            <mat-accordion multi>
                <mat-expansion-panel *ngFor="let item of appMenu">
                    <mat-expansion-panel-header>
                        <mat-panel-title> 
                            <mat-icon>{{ item.icon}}</mat-icon>
                            <span class="header-label">{{item.title}}</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <button mat-button class="menu-btn" *ngFor="let child of item.children" (click)="link(child)">
                        <mat-icon> keyboard_arrow_right </mat-icon>
                        <span>{{child.title}}</span>
                    </button>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-drawer>
  
    <div class="side-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <span class="spacer"></span>
        
                <button mat-button>
                    <mat-icon>account_circle</mat-icon>
                    <span> Aung Htet Paing</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>