<div class="wrapper">
    <mat-card class="create-form">
        <mat-card-title> Create Department </mat-card-title>

        <mat-card-content class="mt">
            <mat-form-field class="full-width">
                <mat-label> Department Name </mat-label>
                <input matInput placeholder="Enter permission name" [(ngModel)]="name" />
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="isLoading" (click)="create()"> Create </button>
        </mat-card-actions>
    </mat-card>
</div>