/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.menu-btn,
.mat-expansion-panel-body {
    padding: 0px;
    padding-left: 26px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.mt {
    margin-top: 20px;
}

.ml {
    margin-left: 20px;
}

.full-width {
    width: 100%;
}