<div class="edit-model">
    <mat-card-content class="mt">
        <mat-form-field class="full-width">
            <mat-label> Install Team Name </mat-label>
            <input matInput placeholder="Enter company name" [(ngModel)]="install_team_name" />
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label> Employee ID </mat-label>
            <input matInput placeholder="Enter company name" [(ngModel)]="employee_id" />
        </mat-form-field>

    <div class="btn-wrapper">
        <button mat-raised-button color="primary" (click)="update()" disabled="{{isLoading}}"> Edit </button>
    </div>

